body {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

.header-ul {
    list-style-type: none;
}

.header-container {
    display: flex;
    height: 83px;
    align-items: center;
    padding: 0 20px;
    margin-left: 300px;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #02073E;
    margin-left: 12px;

}

.header-ul {
    margin-left: calc(50%-300px);
    gap: 40px;
}

.header-ul-item {
    display: inline-block;
    margin-left: 80px;
    font-size: 16px;
    font-weight: 400;
    color: #02073E;
}

@media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      height: auto;
      margin-left: 0;
      text-align: center;
    }
  
    .header-title {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .header-ul {
      flex-direction: column;
      margin-left: 0;
      gap: 20px;
    }
  
    .header-ul-item {
      margin-left: 0;
      margin-top: 10px;
    }
  }

.hero {
    background-image: url("../images/bghero.png");
    background-position: left top;
    background-repeat: no-repeat;
}

.hero-container {
    display: flex;
    height: 920px;
    padding-left: 160px;
    padding-right: 160px;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 85px;
    width: 400px;
    text-align: left;
    margin: 0;
}

.hero-paragraf {
    width: 480px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.hero-photo {
    border-radius: 10px;
    margin-left: 130px;
    border: 2px solid #9A6BFF;
    padding: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.path {
    margin-left: 240px;
    transform: rotate(-1.22deg);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hero {
        background-position: center; /* Центрирование фона */
    }

    .hero-container {
        padding: 0 10px; /* Еще меньше отступы */
        flex-direction: column; /* Вертикальное размещение элементов */
    }

    .hero-title {
        font-size: 30px; /* Еще меньше размер шрифта */
    }

    .hero-paragraf {
        font-size: 14px; /* Еще меньше размер шрифта */
        line-height: 24px; /* Уменьшенная высота строки */
    }

    .hero-photo {
        width: 80%; /* Уменьшенная ширина изображения */
        margin: 10px 0; /* Еще меньшие отступы */
    }

    .path {
        display: none; /* Скрываем путь для мобильных устройств */
    }
}

.container {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.container .card {
    position: relative;
}

.card .face {
    width: 300px;
    height: 200px;
    transition: 0.4s;
}

.card .face.face1 {
    position: relative;
    background-color: #f4f4f4;
    border-radius: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1 {
    transform: translateY(0px);
    box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px pink, inset -20px 0 80px rgb(179, 178, 238), inset 20px 0 300px pink, inset -20px 0 300px rgb(179, 178, 238), 0 0 50px #fff, 20px 0 80px pink, -20px 0 80px rgb(179, 178, 238);
}

.card .face.face1 .content {
    opacity: 0.2;
    transition: 0.2s;
    text-align: center;
    color: #EFC048;
    font-size: 36px;
}

.card:hover .face.face1 .content {
    opacity: 1;
    color:#343644;
}

.content, 
a {
    transition: 0.5s;
}

.face.face2 {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    transform: translateY(-100px);
    border-radius: 10%;
}

.card:hover .face.face2 {
    transform: translateY(0);
}

.content p, a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #343644;
    margin: 0;
    padding: 0;
}

.content,
 a{
    text-decoration: none;
    color: #343644;
    font-size: 1em;
    margin: 15px 0 0;
    padding: 15px;
    border-radius: 10%;
    box-sizing: border-box;
    display: inline-block;
}

.lang-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 104px;
    margin-bottom: 56px;
}

.lang-para {
    color: #EFC048;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin: 0;
    padding: 0;
}

.lang-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #0F2137;
    margin: 0;
    padding: 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .container {
        gap: 20px; /* Уменьшенный промежуток между карточками */
        padding: 10px; /* Отступы для контейнера */
    }

    .card .face {
        width: 100%; /* Автоматическая ширина для карточек */
        height: auto; /* Автоматическая высота */
    }

    .card .face.face1 {
        transform: translateY(0); /* Убираем трансформацию для мобильных устройств */
    }

    .card .face.face1 .content {
        font-size: 24px; /* Уменьшенный размер шрифта */
    }

    .face.face2 {
        transform: translateY(0); /* Убираем трансформацию для мобильных устройств */
    }

    .content p, a {
        font-size: 14px; /* Уменьшенный размер шрифта */
    }

    .lang-container {
        margin-top: 50px; /* Уменьшенный отступ сверху */
        margin-bottom: 30px; /* Уменьшенный отступ снизу */
    }

    .lang-para {
        font-size: 12px; /* Уменьшенный размер шрифта */
        letter-spacing: 1px; /* Уменьшенный интервал между буквами */
    }

    .lang-title {
        font-size: 24px; /* Уменьшенный размер шрифта */
        line-height: 32px; /* Уменьшенная высота строки */
    }
}

.contacts-bg {
    height: 900px;
    background: linear-gradient(180deg, rgba(235, 249, 255, 0.3) 0%, rgba(246, 246, 255, 0.3) 100%);
    padding-top: 34px;
    margin-top: 100px;
}

.tel-adress-para {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 26px;
    color: #343D48;
}

.tel-adress {
    margin-top: 100px;
    margin-left: 170px;
}

.under-tel-adress {
    width: 344px;
    height: 113px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px; 
    color: #343D48;
    padding-top: 66px;
}

.icon-container {
    width: 126px;
    height: 126px;
    border-radius: 100%;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 20px 50px rgba(103, 103, 103, 0.2);
}

.icon-container1:hover {
    background: #eea3c6;
    box-shadow: 0 0 5px #eea3c6, 0 0 25px #eea3c6, 0 0 50px #eea3c6, 0 0 200px #eea3c6;
}

.icon-container2:hover {
    background: #94AEF1;
    box-shadow: 0 0 5px #94AEF1, 0 0 25px #94AEF1, 0 0 50px #94AEF1, 0 0 200px #94AEF1;
}

.icon-container3:hover {
    background: #A1C7AF;
    box-shadow: 0 0 5px #A1C7AF, 0 0 25px #A1C7AF, 0 0 50px #A1C7AF, 0 0 200px #A1C7AF;
}

.icon-container4:hover {
    background: #F7C998;
    box-shadow: 0 0 5px #F7C998, 0 0 25px #F7C998, 0 0 50px #F7C998, 0 0 200px #F7C998;
}

.icon-container1 {
    background-color: #E9C2D4;
}

.icon-container2 {
    background-color: #94AEF1;
}

.icon-container3 {
    background-color: #A1C7AF;
}

.icon-container4 {
    background-color: #F7C998;
}

.icon {
    fill:#f4f4f4;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    height: 400px;
    width: 400px;
    margin-left: 400px;
    margin-top: 100px;
}

.container-tel-icons {
    display: flex;
}